
:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
    
}



form{
    height: 450px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 55%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
  
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 30px;
    width: 100%;
    background-color: #3e4b40;
    color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
  margin-top: 30px;
  display: flex;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #3e4b40;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}



body
{
    font-family: sans-serif;
    padding: 0%;
    margin: 0%;
    background-color: #3e4b40;
}
.container
{
width: 80%;
margin: auto;
overflow: hidden;

}
ul{
    margin: 0;
    padding: 0%;
    
}

header a
{
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;

}
header li {
    float: right;
    display: inline;
    padding: 0 10px 0 10px;
    

}
header nav {
    float:right;
    margin-top: 0px;
    margin-right: 50px;
    position: fixed;
    z-index: 3;
}
header .current a
{
    color: #f2e6d2;
    font-weight: inherit;
}
header a:hover
{
    color: #ffffff;
    font-weight: bold;
    
}



body {
    background-color: #3e4b40;
    background: url(..//images/fffff.jpg) no-repeat center center fixed; 
     background-size: cover;
   } 
   
#logo{
height: 50px;
width: 65px;
padding-left: 80px;
padding-top: 10px;
position: fixed;
z-index: 3;

}
#rect{ height: 60px;
    width: 1800px;
    position: fixed;
    padding-left:56px;
    padding-top: 0px;
    z-index: 2;
    opacity: 0.65;
}
#logobox{
    width: 0%;
    height: 0%;
    float: left;
}
#logo{
height: 50px;
width: 65px;
padding-left: 67px;
padding-top: 6px;
position: fixed;
}
#logo1{
    height: 616px;
    width: 55px;
    position: fixed;
    padding-left: 0px;
    padding-top: 0px;

    }
#line{
        height: 4px;
        width: 1800px;
        position: fixed;
        padding-left: 55px;
        padding-top: 60px;
        z-index: 2;
    
        }

#home {height: 27px;
    width: 29px;
    position: fixed;
    padding-left:14px;
    padding-top: 14px ;

}
#list {height: 27px;
    width: 29px;
    position: fixed;
    padding-left:14px;
    padding-top: 54px ;

}
#insta {height: 27px;
    width: 29px;
    position: fixed;
    padding-left:14px;
    padding-top: 104px ;

}
#face {height: 37px;
    width: 29px;
    position: fixed;
    padding-left:14px;
    padding-top: 154px ;

}
#whats {height: 27px;
    width: 29px;
    position: fixed;
    padding-left:14px;
    padding-top: 204px ;

}
#tele {height: 100px;
    width: 19px;
    position: fixed;
    padding-left:20px;
    padding-top: 250px ;

}
#email {height: 180px;
    width: 19px;
    position: fixed;
    padding-left:20px;
    padding-top: 390px ;

}

